<html>
<head>
</head>

<body>
<p><strong>APF&nbsp;</strong></p>
<table style="height: 43px;" border="1px" width="560">
    <tbody>
    <tr>
        <td>RDV fix&eacute; pour le:</td>
        <td>{{dateRDV}}</td>
        <td>Heure:</td>
        <td colspan="3">$heure_RDV$</td>
    </tr>
    <tr>
        <td>Nom: {{NOM}}</td>
        <td>&nbsp;</td>
        <td>Pr&eacute;nom:</td>
        <td colspan="3">{{Surname}}</td>
    </tr>
    <tr>
        <td>Adresse:</td>
        <td colspan="5">{{Adress}}</td>
    </tr>
    <tr>
        <td>NPA:</td>
        <td>{{NPA}}</td>
        <td>localit&eacute;</td>
        <td colspan="3">{{localite}}</td>
    </tr>
    <tr>
        <td>T&eacute;l&eacute;phone:{{tel1}}</td>
        <td>$NC$</td>
        <td>Natel:</td>
        <td colspan="3">$natel$</td>
    </tr>
    <tr>
        <td>Profession:</td>
        <td>{{Profession}}</td>
        <td>ND de personnes dans le m&eacute;nage:</td>
        <td colspan="3">$nb_personnes$</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table style="height: 40px;" border="1px" width="556">
    <tbody>
    <tr>
        <td>&nbsp;</td>
        <td>Pers1</td>
        <td>Pers2</td>
        <td>Pers3</td>
        <td>Pers4</td>
        <td>Pers5</td>
        <td>Pers6</td>
    </tr>
    <tr>
        <td>Sexe F ou &nbsp;M</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Date d&rsquo;anniversaire</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Ass. De Base</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Franchise</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Ass. Des LCA</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>En traitement&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Nom&nbsp;</td>
        <td>{{NomMr}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>M&eacute;dicaments</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
<p>​</p>
<table style="height: 40px;" border="1px" width="283">
    <tbody>
    <tr>
        <td>Assurance&nbsp;</td>
        <td>Compagnie&nbsp;</td>
        <td>Depuis quand&nbsp;</td>
    </tr>
    <tr>
        <td>Assurance Vie</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Voiture&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>M&eacute;nage&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Protection juridique&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>Remarques t&eacute;l&eacute;phonistes :&nbsp;</p>
<table style="height: 40px;" border="1px" width="517">
    <tbody>
    <tr>
        <td colspan="4"><br /><br /></td>
    </tr>
    <tr>
        <td>Nom de la t&eacute;l&eacute;phoniste :</td>
        <td>&nbsp;</td>
        <td>Date d&rsquo;appel :</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>Feed-back Conseiller:&nbsp;</p>
<table style="height: 21px;" border="1px" width="515">
    <tbody>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>

</body>

</html>